body{
   background-color: wheat;
}
p {
    color: #222222;
}

.foto-principal{
    width: 200px;
    
   /* border: 5px double black;    *dessa forma eu coloco todas as informações de borda em um unico lugar, mas também posso colocar separado, como mostrarei a seguir, na ordem que tem que ser. e dessa forma anterior chama de shorthand */
    border-width: 2px; /* espessura da borda*/
    border-style: double; /* tipo da borda*/
    border-color: black; /* cor da borda*/
    border-radius: 50% ;

    /*margin-top: 30px;
    margin-bottom: 100px;
    margin-left: 100px; dessa forma fica detalhado e da forma a seguir fica resumido em um único lugar, que é o famoso shorthand*/
    margin: 30px 30px 30px 30px;
}