*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif ;
}
.header{
 background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-tecnologia-digital-de-fio-de-rede_1017-27428.jpg?w=2000);
 background-size: cover;
 color: white;
 text-align: center;
 padding: 50px 0;
 font-size: 40px;
 box-shadow: 0 0 10px black;
 margin-bottom: 10px;
 
}
.logo{
    width: 180px;
}

.container{
 display: flex;
}

.navbar{
 width: 20%;
 padding: 30px;
 display: block;
}
.content{
    width: 80%;
    background: #d8d8d8;
    padding: 50px 50px;
    border-radius: 40px 0;
    margin: 20px 20px 50px 0;
    margin-bottom: 50px;
    height: 60vh;
    box-shadow: 2px 2px 0 rgb(228 228 228);
}
li{
    display: list-item;
    color: white;
}

.navbar ul{
    list-style: none;
}

.navbar ul li{
    border-radius: 10px 0px;
    background-color: rgb(71, 71, 216);
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
.footer{
    position: fixed;
    background-color: gray;
    text-align: center;
    padding: 20px 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #929191;
    color: rgb(71, 71, 216);
}
footer{
    display: block;

}

